@font-face {
  font-family: "Speed Ranger";
  src: url("./fonts/GunkoStreet-Outline.ttf") format("truetype");
  src: url("./fonts/GunkoStreet-Regular.ttf") format("truetype");
  src: url("./fonts/GunkoStreetShadow-Demo.ttf") format("truetype");
}

.speed-ranger {
  font-family: "Speed Ranger";
  animation: rights-reserved-animation 3s infinite alternate;
}

@keyframes rights-reserved-animation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(10%);
  }
}

p,
h1 {
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "header header"
    "main logo"
    "footer footer";
}

.logo {
  grid-area: logo;
  width: 125px;
}

header {
  grid-area: header;
  border-bottom: 1px black solid;
}

header,
footer {
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
  gap: 5px;
  list-style: none;
  margin-right: 20px;
}

main {
  display: flex;
  flex-direction: column;
  grid-area: main;
  align-self: center;
  gap: 30px;
}

h1 {
  font-size: 40px;
}

strong {
  color: gray;
}

a {
  color: white;
  background-color: gray;
  padding: 10px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
}

.links-container {
  display: flex;
  gap: 20px;
}

.profile-img {
  width: 625px;
  animation: image-animation 3s infinite alternate;
}

footer {
  grid-area: footer;
  align-items: center;
  border-top: 1px black solid;
}

@keyframes image-animation {
  from {
    scale: 1;
  }
  to {
    scale: 1.075;
  }
}
